// Fonts
// @use '../fonts/JosefinSans.woff' as style;
// @use '../fonts/Roboto.woff';

// Variables
@use 'variables';

// Bootstrap
@use 'bootstrap/scss/bootstrap';

@font-face {
    font-family: 'JosefinSans';
    src: url('../fonts/JosefinSans.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter.ttf');
    font-weight: 400;
    font-style: normal;
}

* {
    font-family: 'Inter', sans-serif;
}

html, body {
  height: 100%;
  margin: 0; /* Optional: remove default margins */
  font-family: 'Inter';
}

// CSS FOR ANY COMPONENT
body {
    visibility: visible;
    opacity: 1;
}

body.fadeInOut {
    visibility: hidden;
    opacity: 0;
    transition: opacity 250ms ease-in, visibility 0ms ease-in 250ms;
}

div.loading > *:not(.main-loader) {
    opacity: 0.5;
}

.placeholder-4-3 {
  aspect-ratio: 4 / 3;
  background-color: lightgray; /* Optional: for visibility */
}

.placeholder-4-3w100 {
  width: 100%; /* or any desired width */
  aspect-ratio: 4 / 3;
  background-color: lightgray; /* Optional: for visibility */
}

.main-loader {
    position: absolute !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 500000;
}

// USED FOR LIST CARDS (IN INGRIDIENTS)
.card-soft {
    background: linear-gradient(135deg, #ffffff, #f8f9fa);
}

// .card-soft {
//     transition: all 0.2s ease;
// }

// .card-soft:hover {
//     transform: translateY(-4px);
//     box-shadow: 0 1rem 2rem rgba(0,0,0,0.08);
// }

// MODIFY REACT MODAL Z INDEX
// SOME ELEMENTS IN APP HAVE Z INDEX 3 SO IT COVERS MODAL
.ReactModal__Overlay {
    z-index: 3;
}

.admin-nav-c {
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 100%;

    nav {
        width: 200px;
        display: flex;
        flex-direction: row;
        a {
            width: 100%;
        }
    }

    .sidebar {
    min-height: 100vh;
    width: 150px;
    background: #fff;
    border-right: 1px solid #ddd;
    position: fixed;
    font-family: 'JosefinSans';
        .nav-link {
            font-size: 15px;
            line-height: 18px;
            // color: red !important;
        }
    }
    .sidebar a {
    padding: 8px 12px;
    display: block;
    color: #333;
    text-decoration: none;
    border-radius: 10px;
    margin-bottom: 6px;
    }
    .sidebar a:hover {
    background: #e9ecef;
    }

    .sidebar a.active {
        color: blue;
    }

    // TABLE CELLS
    table.data-table,
    table.data-table td {
        font-family: 'Inter' !important;
    }

    // MOTION WRAPPER
    div.motion-div {
        width: 100%;
        &:not(.login) {
            width: calc(100% - 150px);
            margin-left: 150px;
        }



        div.page {
            position: relative;
            width: 100%;
        }


        .main-content {
            height: 100vh;
            position: relative;
        }

        .data-table {
            tbody {
                td {
                    font-size: 1rem;
                }
                td.MuiTableCell-root a{
                    font-size: 1.875rem !important;
                }
            }
        }

        .country-input {
            color: red !important;
        }
    }
}


