// Fonts
// @import url('https://fonts.bunny.net/css?family=Nunito');
@import url('../fonts/JosefinSans.woff');
@import url('../fonts/Roboto.woff');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

* {
    font-family: 'Roboto';
}

// CSS FOR ANY COMPONENT
body {
    visibility: visible;
    opacity: 1;
}

body.fadeInOut {
    visibility: hidden;
    opacity: 0;
    transition: opacity 250ms ease-in, visibility 0ms ease-in 250ms;
}

div.loading > *:not(.main-loader) {
    opacity: 0.5;
}

.main-loader {
    position: absolute !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 500000;
}

.admin-nav-c {
    display: flex;
    flex-direction: row;

    nav {
        width: 200px;
        display: flex;
        flex-direction: row;
        a {
            width: 100%;
        }
    }

    .sidebar {
    min-height: 100vh;
    background: #fff;
    border-right: 1px solid #ddd;
    position: fixed;
    }
    .sidebar a {
    padding: 12px 16px;
    display: block;
    color: #333;
    text-decoration: none;
    border-radius: 10px;
    margin-bottom: 6px;
    }
    .sidebar a:hover {
    background: #e9ecef;
    }

    .main-content {
        width: calc(100% - 200px);
        margin-left: 200px;
    }

    .data-table {
        tbody {
            td {
                font-size: 1rem;
            }
            td.MuiTableCell-root a{
                font-size: 1.875rem !important;
            }
        }
    }
}


