.form-modal {
    min-width: 800px;
    // min-height: 300px;
    max-width: 700px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 3rem;
    padding-top: 4rem;
    padding-bottom: 4rem;

    background-color: white;
    // height: 90%;

    button.close-btn {
        position: absolute;
        top: 8pt;
        right: 5pt;
    }

    .controls {
        position: absolute;
        right: 10pt;
        bottom: 10pt;
        font-size: 25pt;
    }

    .submit {
        border: none;
        background-color: white;
        cursor: pointer;
    }
}

// FOR VIEW MENU
.view-modal {
    max-height: 80%;
    overflow-y: scroll;
}

div.form-page .row > div {
    height: auto;
}

/* Modern Blur Effect */
.overlay-glass {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.3); /* Light tint */
  backdrop-filter: blur(2px); /* Blurs the app behind it */
  -webkit-backdrop-filter: blur(2px); /* Safari support */
  display: flex;
  align-items: center;
  justify-content: center;
}

.full-w-h {
    position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}